/*=================================================================
  Pricing section
==================================================================*/

.pricing-table {
  .pricing-item {
    padding: 40px 20px;
    background: $color-light;
    box-shadow: 0 8px 15px 0 rgba(5, 57, 106, .06);
    min-height: 400px;

    a.btn-main {
      text-transform: uppercase;
      margin-top: 20px;
    }

    ul {
      min-height: 70px;

      li {
        font-weight: 400;
        padding: 6px 0;
        color: #666;

        i {
          margin-right: 6px;
          color: $color-primary;
        }
      }
    }
  }

  .price-title {
    padding: 30px 0 20px;

    >h1 {
      font-weight: 900;
      color: $color-primary;
    }

    >h2 {
      font-size: 30px;
      font-weight: 700;
    }

    >h3 {
      font-weight: 700;
      margin: 0 0 5px;
      font-size: 15px;
      text-transform: uppercase;
    }

    >p {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      margin-top: 5px;
    }

    .value {
      color: $color-primary;
      padding: 10px 0;
    }
  }

  .row {
    @media(min-width: 992px) {
      display: flex;
      justify-content: center;
    }
  }
}
