// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation

// Logo slider section
.logos {
  padding-top: 70px;
  padding-bottom: 140px;

  @include tablet {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .section-title {
    text-align: center;
    margin-bottom: 50px;

    @include tablet {
      margin-bottom: 20px;
    }

    @include mobile {
      margin-bottom: 35px;
    }
  }

  .logo {
    float: none;
    display: inline-block;
    vertical-align: middle;

    .img-responsive {
      width: 80%;
      height: auto;
      margin: 0 auto;
      -webkit-filter: grayscale(100%);
      filter: gray;
      -webkit-transition: filter .2s ease-out;
      -moz-transition: filter .2s ease-out;
      transition: filter .2s ease-out;

      &:hover {
        -webkit-filter: none;
        filter: none;
      }

      @include mobile {
        -webkit-filter: none;
        filter: none;
      }
    }
  }

  .slick-dots {
    bottom: -55px;

    li button:before {
      font-size: 12px;
    }
  }
}

// Tweak navigation bar
.navigation {
  .navbar {
    .navbar-brand {
      img.img-responsive {
        padding-top: 13px;
      }
    }

    .navbar-header {
      // replace full logo with smaller square logo for tablet size and below
      @include tablet {
        img.img-responsive {
          display: none;
        }
        .navbar-brand {
          width: $height-nav-bar;
          background-image: url("../images/logos/digipartindex.svg");
          background-size: calc(#{$height-nav-bar} - 28px); // this corresponds to a header height of 120px (minus padding)
          background-position: left center;
          background-repeat: no-repeat;
        }
      }
    }

    .navbar-nav {
      > li {
        > a {
          font-size: 16px;
          font-weight: 400;
        }

        > a.current {
          color: $color-light;
          background-color: $color-primary;
          pointer-events: none;
          cursor: default;
        }

        > a.current-parent {
          color: $color-light;
          background-color: $color-primary;
        }
      }

      select {
        font-size: 16px;
      }
    }
  }
}

// Change Bootstrap's default navbar collapse breakpoint of 768px to 992px (=desktop); source: https://silvawebdesigns.com/how-to-change-the-bootstrap-navbar-breakpoint/
@media(max-width: 1456px) {
  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }

  .navbar-collapse.collapse {
    display: none!important;
  }

  .navbar-nav {
    float: none!important;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .collapse.in {
    display: block !important;
  }
}

// Tweak font sizes
.section-title {
  h2 {
    font-weight: 500;
  }
}

.section-subtitle {
  font-weight: 500;
}

.footnotes {
  p {
    font-size: 14px;
  }
  ol, ul {
    li::marker {
      color: #7b7b7b;
    }
  }
}

// Tweak page header
section.page-title {
  .block {
    h1 {
      text-transform: none;
    }

    p {
      font-weight: 300;
    }
  }
}

// Tweak FAQ section on homepage
.feature {
    h2 {
      color: #fff;
      text-transform: uppercase;
    }

    p {
      color: #fff;
    }
}

// Tweak about section on homepage
.about {
  .block {
    img {
      height: 360px;
      width: auto;
      margin-top: 132px;
      float: right;

      @include large-desktop {
        height: 300px;
      }

      @include desktop {
        display: none;
      }
    }

    .btn {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}

// Tweak data section on homepage
.banner-data {
  text-shadow: 4px 4px 8px black, -4px 4px 8px black, 4px -4px 8px black, -4px -4px 8px black;
  @media(min-width: 768px) {
    text-shadow: 4px 4px 8px black, -8px 8px 16px black, 16px 16px 32px black, -32px 32px 48px black, -4px 4px 8px black, -8px 8px 16px black, -16px 16px 32px black, -32px 32px 48px black, 4px -4px 8px black, 8px -8px 16px black, 16px -16px 32px black, 32px -32px 48px black, -4px -4px 8px black, -8px -8px 16px black, -16px -16px 32px black, -32px -32px 48px black;
  }

  .btn {
    border-radius: 0px;
    box-shadow: 2px 2px 32px black, -2px 2px 32px black, 2px -2px 32px black, -2px -2px 32px black;

    &:hover {
      text-shadow: none;
    }
  }
}

// Tweak project page
.service-arrow {
  a {
    color: #fff;
  }

  img {
    width: 300px;
  }

  div.img-wrapper {
    min-height: 180px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
  }

  p {
    padding-top: 30px;
  }

  .row {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
  }

  @include desktop {
    .row {
      display: block;
    }
  }
}

@mixin grayuntilhover {
  -webkit-filter: grayscale(100%);
  filter: gray;
  -webkit-transition: filter .2s ease-out;
  -moz-transition: filter .2s ease-out;
  transition: filter .2s ease-out;

  &:hover {
    -webkit-filter: none;
    filter: none;
  }
}

.service-team {
  .img-team-member {
    @include grayuntilhover
  }
  .team-title {
    padding-top: 50px;
    @include tablet {
      padding-top: 20px;
    }
    .team-title-text {
      padding-bottom: 30px;
    }
  }
  .team-other {
    display: flex;
    align-items: center;
    @include tablet {
      display: block
    }
    .img-team-other {
      @include grayuntilhover
      border-radius: 50%;
      height: 300px;
      width: 300px;
      object-fit: contain;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 30px;
      @include tablet {
        margin-right: 0px;
      }
    }
    .team-other-text {
      margin-bottom: 20px;
      @include tablet {
        margin-top: 20px;
      }
    }
  }
}

// Tweak media coverage page
.table-pretty  {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  > caption {
    font-size: 28px;
    font-weight: 400;
    color: #333;
    padding: 0px;
    margin-top: 14px;
    margin-bottom: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > thead tr {
    // spacing above tbody
    border-bottom: 10px solid transparent;

    th {
      font-size: 20px;
      font-weight: 400;
      color: #333;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    th#col_date {
      width: 14%;
      text-align: right;
      padding-right: 25px;

      @include desktop {
        width: 20%;
      }

      @include mobile {
        width: 25%;
      }
    }
  }
  // zebra-striped rows
  > tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td[headers=col_date] {
      text-align: right;
      padding-right: 25px;
  }
  td[headers=col_medium] {
      padding-right: 10px;
  }
}

.table-publications {
  margin-bottom: 80px;

  th#col_author {
    width: 19%;
    padding-right: 10px;
  }
  th#col_journal {
    width: 13%;
    padding-right: 10px;
  }
}

.table-presentations {
  margin-bottom: 80px;

  th#col_place {
    width: 13%;
    padding-right: 10px;
  }
  th#col_presenter {
    width: 19%;
    padding-right: 10px;
  }
}

.table-media-coverage {
  th#col_medium {
    width: 32%;
    padding-right: 10px;
  }
}

// Tweak data page
section.changelog {
  padding-top: 0px;
}

.table-changelog {
  th#col_canton {
    width: 8%;
    padding-right: 10px;
  }
  th#col_year {
    width: 7%;
    padding-right: 10px;
  }
  th#col_tool {
    padding-right: 10px;
  }
  th#col_score_change {
    width: 13%;
    padding-right: 20px;
  }
}

// Tweak canton list page
p.footline {
  font-size: 14px;
}

section.cantons {
  padding: 40px;
}

div.emblems-canton {
  text-align: center;
}

a.emblem-canton {
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 30px;

  img {
    height: 100%;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    filter: drop-shadow(5px 5px 3px $color-primary);
    transition: all .15s 0s ease-out;
  }
  p {
    transition: all .15s 0s ease-out;
  }

  &:hover {
    p {
      color: #302c3a;
      text-shadow: 0px 0px 10px $color-primary
    }
    img {
      filter: drop-shadow(10px 10px 30px $color-primary);
      transform: rotate(9deg);
    }
  }
}

// Tweak canton-year list page
div.canton-years {
  text-align: center;

  a.canton-year {
    margin: 3px;
  }
}

// Tweak canton single page
div.canton-year-selector {
  text-align: center;
  font-size: 30px;
  color: #7b7b7b;
  margin-bottom: 100px;
  @include tablet {
    margin-bottom: 20px;
  }

  span.canton-year {
    vertical-align: middle;
    margin-left: 50px;
    margin-right: 50px;
  }

  i {
    color: #e6e6e6;
    vertical-align: middle;
    font-size: 20px;
  }

  a {
    i {
      color: #7b7b7b;

      &:hover {
        color: #353240;
      }
    }
  }
}

div.html-widget {
  margin-top: 60px;

  @include tablet {
    margin-top: 20px;
  }
}

div.canton-selector {
  margin-top: 20px;
  margin-bottom: 40px;

  @include tablet {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

a.emblem-canton-selector {
  float: left;
  width: calc(100%/26);
  position: relative;
  pointer-events: none;

  img {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 30px;
    filter: drop-shadow(0px 0px 2px $color-primary);
    -webkit-filter: drop-shadow(0px 0px 2px $color-primary);
    transition: all .15s 0s ease-out;

    @media(min-width: 992px) {
      padding-left: 3px;
      padding-right: 3px;

    }
    @media(min-width: 1200px) {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &:before {
    content: attr(data-hover);
    visibility: visible;
    opacity: 1;
    color: #333;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
  }
}

a.emblem-canton-selector.inactive {
  pointer-events: auto;

  img {
    filter: drop-shadow(0px 0px 2px $color-primary) gray;
    -webkit-filter: drop-shadow(0px 0px 2px $color-primary) grayscale(100%);
    opacity: 0.3;

    &:hover {
      filter: drop-shadow(0px 0px 2px $color-primary) gray;
      -webkit-filter: drop-shadow(0px 0px 2px $color-primary) grayscale(100%);
      opacity: 1;
    }
  }
  &:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
  }
  &:hover:before {
    opacity: 1;
    visibility: visible;
  }
}

// ggiraph plot tooltips are injected directly under doc's `<body`, allowing them cover areas outside of the SVG itself; thus we need to avoid interference with our other CSS rules
// cf. https://davidgohel.github.io/ggiraph/reference/opts_tooltip.html#arguments
div[class^="tooltip_svg_"] {
  p {
      color: white;
  }
}
