{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- downloads -->
{{ with .Params.datasets }}
{{ if .enable }}
<section class="pricing-table downloads section bg-gray">
  <div class="container">
    <div class="row">
      <!-- single pricing table -->
      {{ range .items }}
      {{ if .enable }}
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item text-center">
          <div class="price-title">
            {{ with .head }}<h3>{{ . | markdownify }}</h3>{{ end }}
            {{ with .title }}<h2 class="value">{{ . | markdownify }}</h2>{{ end }}
            {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
          </div>
          <ul>
            {{ range .bullets }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
          <a class="btn btn-small" href="{{ .link | safeURL }}">{{ i18n "download" | strings.FirstUpper }}</a>
        </div>
      </div>
      {{ end }}
      {{ end }}
      <!-- end single pricing table -->
    </div>
  </div>
</section>
{{ end }}
{{ end }}

<!-- data changelog-->
<section class="pricing-table changelog section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "table_changelog_data" . }}
      </div>
    </div>
  </div>
</section>

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
