{{ define "main" }}

{{ partial "page-title.html" . }}

{{ with .Params.about -}}
{{ if .enable -}}
<section class="service-about section">
  <div class="container">
    <div class="row">
      {{ with .title -}}
      <div class="col-md-12">
        <h2>{{ . | markdownify }}</h2>
      </div>
      {{- end }}
      {{ with .column_left -}}
      <div class="col-md-6">
        <div class="mt-30">{{ . | $.Page.RenderString (dict "display" "block") }}</div>
      </div>
      {{- end }}
      {{ with .column_right -}}
      <div class="col-md-6">
        <div class="mt-30">{{ . | $.Page.RenderString (dict "display" "block") }}</div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{- end }}
{{- end }}

{{ with .Params.institutions -}}
{{ if .enable -}}
<section class="service-arrow">
  <div class="container-fluid">
    <div class="row">
      {{ range .item -}}
      <div class="col-md-4 bg-primary bg-{{ .color }}">
        <div class="block">
          <div class="img-wrapper"><a href="{{ .url }}" target="_blank" rel="noopener"><img class="img-responsive" src="{{ .image | relURL }}"></a></div>
          {{ with .name }}<h3>{{ . | markdownify }}</h3>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        </div>
      </div>
      {{- end }}
    </div>
  </div>
</section>
{{- end }}
{{- end }}

{{ with .Params.team -}}
{{ if .enable -}}
<section class="service-team section">
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        {{ with .title }}<h2 id="team">{{ . | markdownify }}</h2>{{ end }}
        {{ with .intro }}<div class="mt-30">{{ . | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
      </div>
    </div>
    {{ with .item -}}
      {{- /*
        `$pairs` is a slice of maps in which each map contains keys "first" and "second" (if present) which in turn are also maps containing individual team members;
        this regrouping is necessary to being able to pairwise align team members in rows
      */ -}}
      {{ $item_copy := . }}
      {{ $max_i := sub (len .) 1 -}}
      {{ $odd_ix := seq 0 2 $max_i -}}
      {{ $pairs := slice -}}
      {{ range $odd_ix -}}
        {{ $pair := dict "first" (index $item_copy .) -}}
        {{ if lt . $max_i }}{{ $pair = merge $pair (dict "second" (index $item_copy (add . 1))) }}{{ end -}}
        {{ $pairs = $pairs | append $pair -}}
      {{- end }}
      {{ range $pairs -}}
      <div class="row">
        <div class="col-md-6">
          <h3>{{ .first.name | markdownify }}</h3>
          <img class="img-responsive img-team-member" src="{{ .first.image | relURL }}">
          <div class="mt-30">{{ .first.content | $.Page.RenderString (dict "display" "block") }}</div>
        </div>
        {{ with .second }}
        <div class="col-md-6">
          <h3>{{ .name | markdownify }}</h3>
          <img class="img-responsive img-team-member" src="{{ .image | relURL }}">
          <div class="mt-30">{{ .content | $.Page.RenderString (dict "display" "block") }}</div>
        </div>
        {{- end }}
      </div>
      {{- end }}
    {{- end }}
    {{ with .partner -}}
    {{ if .enable -}}
      <div class="row team-title">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          {{ with .title }}<h3 id="partner">{{ . | markdownify }}</h3>{{ end }}
          {{ with .intro }}<div class="mt-30 team-title-text">{{ . | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
        </div>
      </div>
      {{ with .item -}}
      {{ range . -}}
        <div class="row">
          <div class="col-md-12">
              <div class="team-other">
                <img class="img-responsive img-team-other" src="{{ .image | relURL }}">
                <div class="team-other-text">
                  {{ .content | $.Page.RenderString (dict "display" "block") }}
                </div>
              </div>
          </div>
        </div>
      {{- end }}
      {{- end }}
    {{- end }}
    {{- end }}
    {{ with .former_team -}}
    {{ if .enable -}}
      <div class="row team-title">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          {{ with .title }}<h3 id="former-team">{{ . | markdownify }}</h3>{{ end }}
          {{ with .intro }}<div class="mt-30 team-title-text">{{ . | $.Page.RenderString (dict "display" "block") }}</div>{{ end }}
        </div>
      </div>
      {{ with .item -}}
      {{ range . -}}
        <div class="row">
          <div class="col-md-12">
              <div class="team-other">
                <img class="img-responsive img-team-other" src="{{ .image | relURL }}">
                <div class="team-other-text">
                  {{ .content | $.Page.RenderString (dict "display" "block") }}
                </div>
              </div>
          </div>
        </div>
      {{- end }}
      {{- end }}
    {{- end }}
    {{- end }}
  </div>
</section>
{{- end }}
{{- end }}

<!-- Service -->
{{ if .Params.service.enable -}}
{{ partial "service.html" . }}
{{- end }}
<!-- /service -->

<!-- Call to action -->
{{ if .Params.contact.enable -}}
{{ partial "cta.html" . }}
{{- end }}
<!-- /Call to action -->

{{ end }}
