{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "news") (eq .Section "categories") (eq .Section "tags") }}

<section class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="post post-single">
          <h2 class="post-title">{{ .Title }}</h2>
          <div class="post-meta">
            <ul>
              <li><i class="ion-calendar"></i> {{ time.Format ":date_long" .PublishDate }}</li>
              <li><i class="ion-android-people"></i>
                {{ i18n "posted_by" }}
                {{ $authors := slice }}{{ if reflect.IsSlice .Params.author }}{{ $authors = .Params.author }}{{ else }}{{ $authors = (slice .Params.author) }}{{ end -}}
                {{ range $index, $elements := $authors }}{{ if ne $index 0 }}, {{ end }}<a class="text-primary" href="{{ `author/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              </li>
              <li><i class="ion-pricetags"></i>
                {{ range $index, $elements:= .Params.tags }}{{ if ne $index 0 }}, {{ end }}<a href="{{ `tags/` | relLangURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
              </li>
            </ul>
          </div>
          <div class="post-thumb">
            {{ with .Params.image -}}
            {{ partial "picture.html" (dict "path" . "alt" $.Title) }}
            {{- end }}
          </div>
          <div class="post-content post-excerpt">
            {{ .Content }}
          </div>
          {{ with site.Config.Services.Disqus.Shortname -}}
          <div class="post-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
          {{- end }}
        </div>
      </div>
      <div class="col-md-4">
        {{ partial "blog-sidebar.html" . }}
      </div>
    </div>
  </div>
</section>

<!-- regular page -->
{{ else -}}
{{ .Render "default" }}
{{- end }}
<!-- /regular page -->

{{ end }}
