{{ with site.GetPage "/" }}
{{ with .Params.cta }}
<section class="call-to-action bg-1 section-sm overly" style="{{ partial "bg-img.html" .bg_image | safeCSS }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
          {{ with .content }}<p>{{ . | markdownify }}</p>{{ end }}
          {{ with .button }}
          {{ if .enable }}
          <a class="btn btn-main btn-solid-border" href="{{ .link | relLangURL }}">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
