<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
{{ range site.Menus.footer -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
{{- end }}
          </ul>
        </div>
        <p class="copyright">{{ site.Params.copyright | markdownify }}</p>
      </div>
    </div>
  </div>
</footer>

{{ with $.Site.Params.gmap -}}
  {{ if .enable -}}
    {{ "<!-- Google Maps API -->" | safeHTML }}
    {{ if ("contact/" | relLangURL | eq .RelPermalink) -}}
<script defer src="https://maps.googleapis.com/maps/api/js?key={{ site.Params.gmap.gmap_api }}&libraries= places"></script>
    {{- end }}
  {{- end }}
{{- end }}

{{ "<!-- JS plugins -->" | safeHTML }}
{{- range site.Params.plugins.js }}
<script src="{{ .link | relURL }}" {{ .attributes | safeHTMLAttr }}></script>
{{- end }}

{{ "<!-- Main script -->" | safeHTML }}
{{ $script := slice (resources.Get "js/script.js") (resources.Get "js/custom.js") | resources.Concat "js/bundled.js" | resources.ExecuteAsTemplate "js/compiled.js" . | minify -}}
<script src="{{ $script.RelPermalink }}"></script>

{{ with .File -}}
  {{ if (eq .ContentBaseName "contact") -}}
    {{ "<!-- URL param input script -->" | safeHTML }}
    {{ $urlparaminputjs := resources.Get "js/url_param_input.js" | minify -}}
<script src="{{ $urlparaminputjs.RelPermalink }}"></script>
  {{- end }}  
{{- end }}

{{ with $.Site.Params.cookies -}}
  {{ if .enable -}}
    {{ "<!-- Cookie script -->" | safeHTML }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
<div id="js-cookie-box" class="cookie-box cookie-box-hide">
  This site uses cookies. By continuing to use this website, you agree to their use. <span id="js-cookie-button" class="btn btn-main btn-solid-border">I Accept</span>
</div>
<script>
  (function ($) {
    const cookieBox = document.getElementById('js-cookie-box');
    const cookieButton = document.getElementById('js-cookie-button');
    if (!Cookies.get('cookie-box')) {
      cookieBox.classList.remove('cookie-box-hide');
      cookieButton.onclick = function () {
        Cookies.set('cookie-box', true, {
          expires: {{ site.Params.cookies.expire_days }}
        });
        cookieBox.classList.add('cookie-box-hide');
      };
    }
  })(jQuery);
</script>


    {{ "<!-- Cookie style -->" | safeHTML }}
<style>
.cookie-box {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 9999;
  padding: 1rem 2rem;
  background: rgb(71, 71, 71);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
  color: #fdfdfd;
}

.cookie-box-hide {
  display: none;
}
</style>
  {{- end }}
{{- end }}
