<!-- Header Start -->
<header class="navigation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- header Nav Start -->
        <nav class="navbar">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-label="Site Menu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | relLangURL }}" aria-label="{{ (index site.Menus.main.ByWeight 0).Name }}">
              <img src="{{ .Language.Lang | printf "images/logos/digipartindex_%s.svg" | relURL }}" alt="{{ site.Title }}" class="img-responsive">
            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              {{ $currentPage := . -}}
              {{ range site.Menus.main -}}
              {{ if .HasChildren -}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle{{ if $currentPage.HasMenuCurrent "main" . }} current-parent{{ end }}" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">{{ .Name }} <span class="ion-ios-arrow-down"></span></a>
                <ul class="dropdown-menu">
                  {{ range .Children -}}
                  <li><a href="{{ .URL | relLangURL }}"{{ if $currentPage.IsMenuCurrent "main" . }} class="current"{{ end }}>{{ .Name }}</a></li>
                  {{ end -}}
                </ul>
              </li>
              {{ else -}}
              <li><a href="{{ .URL | relLangURL }}"{{ if or ($currentPage.IsMenuCurrent "main" .) (and (in (slice "blog" "post" "categories" "tags") $currentPage.Type) (eq .Identifier "blog")) }} class="current"{{ end }}>{{ .Name }}</a></li>
              {{- end }}
              {{- end }}

              <!-- Language List -->
              {{ if site.IsMultiLingual -}}
              <li>
                <select id="select-language" onchange="location = this.value;">
                  {{ $siteLanguages := site.Languages -}}
                  {{ $pageLang := .Page.Lang -}}
                  {{ $scratch := newScratch }}{{ if eq .Page.Kind "404" }}{{ $scratch.Set "translations" site.Home.AllTranslations }}{{ else }}{{ $scratch.Set "translations" .Page.AllTranslations }}{{ end -}}
                  {{ range ($scratch.Get "translations") -}}
                  {{ $translation := . -}}
                  {{ range $siteLanguages -}}
                  {{ if eq $translation.Lang .Lang -}}
                  {{ $selected := false -}}
                  {{ if eq $pageLang .Lang -}}
                  <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>
                    {{ .LanguageName }}
                  </option>
                  {{ else -}}
                  <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">
                    {{ .LanguageName }}
                  </option>
                  {{- end }}
                  {{- end }}
                  {{- end }}
                  {{- end }}
                </select>
              </li>
              {{- end }}
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header><!-- header close -->
