{{ if gt (len site.Data.logos) 0 }}
<section class="logos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>{{ .title | markdownify }}</h2>
          <p class="section-description">{{ .subtitle | markdownify }}</p>
        </div>
        <div class="logo-slider">
          {{ range site.Data.logos }}
          <div class="logo" title="{{ .name }}">
            {{ if .url }}
              <a href="{{ .url }}" target="_blank" rel="noopener">
                <img src="{{ .image | relURL }}" alt="{{ .name }}" class="img-responsive" />
              </a>
            {{ else }}
              <img src="{{ .image | relURL }}" alt="{{ .name }}" class="img-responsive" />
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
