{{ $build_future := false -}}
{{ if .GetPage "/dummy_future.md" -}}
  {{ $build_future = true -}}
{{- end }}
<table class="table-pretty table-presentations" id="presentations">
  <caption>{{ i18n "presentations_workshops" | strings.FirstUpper }}</caption>
  <thead>
    <tr>
      <th id="col_date">{{ i18n "date" | strings.FirstUpper }}</th>
      <th id="col_place">{{ i18n "place" | strings.FirstUpper }}</th>
      <th id="col_presenter">{{ i18n "responsible" | strings.FirstUpper }}</th>
      <th id="col_item">{{ i18n "item" | strings.FirstUpper }}</th>
    </tr>
  </thead>
  <tbody>
  {{ range $i_row, $i_col := (getCSV "," "static/datasets/presentations.csv") -}}
    {{ if ne $i_row 0 -}}
      {{/* NOTE: we currently don't omit items that lie in the future */ -}}
      {{ $item_date := index $i_col 0 | time -}}
      {{/* if (or (le $item_date.Unix now.Unix) $build_future) */ -}}
        {{ $item_url := index $i_col 5 -}}
        {{ $has_item_url := gt (len $item_url) 0 -}}
        <tr>
          <td headers="col_date">{{ $item_date | time.Format ":date_long" }}</td>
          <td headers="col_place"><span title="{{ index $i_col 3 | markdownify }}">{{ index $i_col 3 | markdownify | truncate 20 }}</span></td>
          <td headers="col_presenter"><span title="{{ index $i_col 2 | markdownify }}">{{ index $i_col 2 | markdownify | truncate 30 }}</span></td>
          <td headers="col_item">
            {{ if $has_item_url }}<a{{ else }}<span{{ end }} title="{{ index $i_col 4 | markdownify }}"{{ if $has_item_url }} href="{{ $item_url }}" target="_blank" rel="noopener"{{ end }}>
              {{ index $i_col 4 | markdownify | truncate 100 }}
            {{ if $has_item_url }}</a{{ else }}</span{{ end }}>
          </td>
        </tr>
      {{- /* end */}}
    {{- end }}
  {{- end }}
  </tbody>
</table>
