{{ $build_future := false -}}
{{ if .GetPage "/dummy_future.md" -}}
  {{ $build_future = true -}}
{{- end }}
{{ with os.FileExists "static/datasets/changelog_data.csv" -}}
<table class="table-pretty table-changelog" id="changelog">
  <caption>{{ i18n "changelog_dataset" | strings.FirstUpper }}</caption>
  <thead>
    <tr>
      <th id="col_date">{{ i18n "date" | strings.FirstUpper }}</th>
      <th id="col_canton">{{ i18n "canton" | strings.FirstUpper }}</th>
      <th id="col_year">{{ i18n "year" | strings.FirstUpper }}</th>
      <th id="col_tool">{{ i18n "tool" | strings.FirstUpper }}</th>
      <th id="col_score_change">{{ i18n "score_change" | strings.FirstUpper }}</th>
      <th id="col_reason">{{ i18n "reason" | strings.FirstUpper }}</th>
    </tr>
  </thead>
  <tbody>
  {{ range $i_row, $i_col := (getCSV "," "static/datasets/changelog_data.csv") -}}
    {{ if ne $i_row 0 -}}
      {{/* NOTE: we omit all entries that lie in the future */ -}}
      {{ $item_date := index $i_col 0 | time -}}
      {{ if (or (le $item_date.Unix now.Unix) $build_future) -}}
        {{ $tool := print "tool_" (index $i_col 3) | i18n -}}
        {{ if (ne (index $i_col 4) "-") -}}
          {{ $tool = print $tool ": " (print "subtool_" (index $i_col 4) | i18n) -}}
        {{- end }}
        {{ $score_change := print (index $i_col 5) " ⤑ " (index $i_col 6) -}}
        <tr>
          <td headers="col_date">{{ $item_date | time.Format ":date_long" }}</td>
          <td headers="col_canton">{{ print "canton_" (index $i_col 1) | i18n }}</td>
          <td headers="col_year">{{ index $i_col 2 }}</td>
          <td headers="col_tool">{{ $tool }}</td>
          <td headers="col_score_change">{{ $score_change }}</td>
          <td headers="col_reason">{{ index $i_col 7 | markdownify }}</td>
        </tr>
      {{- end }}
    {{- end }}
  {{- end }}
  </tbody>
</table>
{{- end }}
