{{ define "main" }}

<!-- banner -->
{{ with .Params.banner -}}
{{ if .enable -}}
<section class="slider {{if .bg_overlay}}overly{{end}}" style="{{ partial "bg-img.html" .bg_image | safeCSS }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h1>{{ . | markdownify }}</h1>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ with .button }}
          {{ if .enable }}
          <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
<!-- /banner -->

<!-- about -->
{{ with .Params.about -}}
{{ if .enable -}}
<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
            {{ with .description }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          </div>
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ $link_lbl := "Project" }}
          {{ with .button -}}
          {{ if .enable -}}
            {{ $link_lbl = .label -}}
            <a href="{{ .link | relLangURL }}" class="btn btn-main animated fadeInUp">{{ .label }}</a>
          {{- end }}
          {{- end }}
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="block">
          {{ with .image }}{{ if reflect.IsMap . }}<a href="{{ .link }}" aria-label="{{ $link_lbl }}"><img src="{{ .src | relURL }}" class="img-responsive" alt="DigiPartIndex Logo"></a>{{ end }}{{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
<!-- /about -->

<!-- data -->
{{ with .Params.data -}}
{{ if .enable -}}
<section class="banner-data feature bg-2" style="{{ partial "bg-img.html" .bg_image | safeCSS }}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-6">
        {{ with .title }}<h2 class="section-subtitle">{{ . | markdownify }}</h2>{{ end }}
        {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
        {{ with .button }}
        {{ if .enable }}
        <a href="{{ .link | relLangURL }}" class="btn btn-main btn-solid-border">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
<!-- /data -->

<!-- faq -->
{{ with .Params.faq -}}
{{ if .enable -}}
<section class="call-to-action bg-1 section-sm overly" style="{{ partial "bg-img.html" .bg_image | safeCSS }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          {{ with .title }}<h2>{{ . | markdownify }}</h2>{{ end }}
          {{ with .content }}{{ . | $.Page.RenderString (dict "display" "block") }}{{ end }}
          {{ with .button -}}
          {{ if .enable -}}
          <a class="btn btn-main btn-solid-border" href="{{ .link | relLangURL }}">{{ .label }}</a>
          {{- end }}
          {{- end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{- end }}
{{- end }}
<!-- /faq -->

<!-- logo slider -->
{{ with .Params.logos -}}
{{ if .enable -}}
{{ partial "logos.html" . }}
{{- end }}
{{- end }}
<!-- /logo slider -->

<!-- contact -->
{{ if .Params.cta.enable -}}
{{ partial "cta.html" . }}
{{- end }}
<!-- /contact -->

{{ end }}
